HTML {
  font-size: 100%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.4rem;
  font-family: Adenium, "Helvetica Neue", Helvetica, Arial;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #E24100;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: rgb(177, 134, 27);
  color: #ffffff;
  padding: 0.75rem;
  text-decoration: none;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color:rgb(177, 134, 27);
  color: #ffffff;
}