@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

HTML {
  font-size: 50%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
  font-size: 120%
}

body, input, select, button, textarea {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #E24100;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: rgb(177, 134, 27);
  color: #ffffff;
  padding: 0.5rem;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color:rgb(177, 134, 27);
  color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 25rem;
}

/*****Products*****/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #7c7575 solid;
  border-radius: 100px;
  background-color: #8c7851;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  border: 0.2rem #796a6a solid;
}

.button-primary {
  background-color: #0071dc;
  border-radius: 100px;
  font-weight: 700;
  height: 4rem;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
}

/*-----Filter-----*/
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1 #7c7575 solid;
}

.filter div {
  flex: 1;
}

/*-----Cart-----*/
.cart {
  padding: 1rem;
  margin : 1rem;
  display: flex;
  flex: wrap;
}

.cart-header {
  border-bottom: 0.1rem #7c7575 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 6rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: .5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toal > div {
  font-size: 2rem;
}

.toal > div,
.total > button {
  flex: 1;
}

/*-----Checkout-----*/
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;  
}

.form-container li {
  display:flex;
  flex-direction: column;
  padding: 1rem
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color:#eaddcf;
}

/*-----Product details-----*/
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  z-index: 1000;
  width: 3%;
}

/* Order Details */
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: green;
}

/* Orders */
.orders {
  width: 100%;
  padding: 10px;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 5px;
}
th {
  text-align: left;
}

/* .AboutScreen {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-left: 20px;
}

.abouth2 {
  margin-left: 20px;
  display: block;
  padding-top: 20px;
}*/

 .info {
  display: block;
  word-spacing: 3px;
  margin: 0 20px;
  text-align: center;
} 

/*.info1 {
  display: flex;
  word-spacing: 3px;
  margin: 0 20px;
  justify-content: center;
}  */

.col-inner {
  word-spacing: 3px;
  margin: 0 20px;
  display: inline-flex
}

.content1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.main1 {
  flex: 3 60rem;
}

